.field.reasonsHide {
	height: 0 !important;
    visibility: hidden !important;
    overflow: hidden !important;
    pointer-events: none !important;
    margin: 0 !important; padding: 0 !important;
    position: absolute !important;
    // top: -100% !important; left: -100% !important;
}

.reasonsModal .body {
    overflow: auto;
}

.reasonsBuilderUi .heading {
    margin-bottom: 20px;
    font-weight: bold;
}

.reasonsBuilderUi.disabled {
    opacity: 1;
}

.reasonsBuilderUi.disabled .wrapper {
    display: none;
}

.reasonsMessage {
    color: #8f98a3;
}

.reasonsBuilder {
    width: 100%;
    float: left;
}

.reasonsStatement {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.reasonsStatement .delimiter {
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: -6px;
    padding: 0 6px;
    background-color: white;
    line-height: 1;
    font-size: 10px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
}

.reasonsRuleParams,
.reasonsRuleParams > * {
    display: inline-block;
    width: auto;
    float: left;
    position: relative;
    margin: 0 10px 10px 0;
}

.reasonsRuleParams {
    margin: 0;
}

.reasonsRule {
    width: 100%;
    float: left;
    clear: both;
    margin-right: 0;
}

.reasonsRuleLead {
    display: block;
    line-height: 1;
    font-size: 12px;
    color: #999;
    float: left;
    clear: both;
    margin-bottom: 8px;
}

.reasonsRemoveRule,
.reasonsAddRule {
    display: inline-block;
    margin: 6px 2px;
}

.reasonsAddRule {
    display: none;
    margin-left: 5px;
    margin-top: 0;
    float: left;
    clear: both;
}

.reasonsRule:last-child .reasonsAddRule {
    display: inline-block;
}

.reasonsRule:last-child .reasonsRuleLead {
    display: none;
}

.reasonsAdd {
    width: 100%;
    float: left;
}

.fld-field.reasonsHasConditionals {
    border-style: dashed;
}

/*
*   Matrix
*
*/
.matrix-configurator {

    .reasonsAdd {
        display: inline-block;
        float: none;
        width: auto;
        margin-right: 10px;
    }

}